In [1]:
#Importing the packages
import pandas as pd
import numpy as np

In [53]:
#Importing the sheets individually
Transactions = pd.read_excel('Transactions.xlsx',header=1)
Demographic = pd.read_excel('CustomerDemographic.xlsx',header=1)
CustomerList = pd.read_excel('NewCustomerList.xlsx',header=1)
Address = pd.read_excel('CustomerAddress.xlsx',header=1)

# Data Assessing 
### 1. Transactions

In [ ]:
Transactions.shape

In [ ]:
Transactions.head()

In [ ]:
#Checking for duplicate columns
sum(Transactions.duplicated())

### There are no duplicated rows in the Transactions sheet

In [ ]:
#checking for missing values
names = list(Transactions)

In [ ]:
names = np.array(names)
for name in list(Transactions):
    print(sum(Transactions[name].isnull()))

In [ ]:
sum(Transactions.online_order.isnull())

In [ ]:
#Checking data types:
Transactions.dtypes

In [ ]:
Transactions.head(2)

In [ ]:
sum(Transactions['transaction_id'].duplicated())

In [ ]:
Transactions['online_order'].value_counts()

In [ ]:
Transactions['order_status'].value_counts()

In [ ]:
Transactions['brand'].value_counts()

In [ ]:
Transactions['product_line'].value_counts()

In [ ]:
Transactions['product_class'].value_counts()

In [ ]:
Transactions['product_size'].value_counts()

In [ ]:
Transactions['list_price'].max()

In [ ]:
Transactions.describe()

### 2.Customer Demographics

In [ ]:
Demographic.shape

In [ ]:
Demographic.head()

In [ ]:
#Checking for duplicate columns
sum(Demographic.duplicated())

### There are no duplicate rows in the dataframe

In [ ]:
for name in list(Demographic):
    print(sum(Demographic[name].isnull()))

In [ ]:
#Checking data types
Demographic.dtypes

In [ ]:
Demographic.sample()

In [ ]:
sum(Demographic['customer_id'].duplicated())

In [ ]:
Demographic.describe()

In [ ]:
Demographic.query('tenure == 22')

In [ ]:
Demographic['gender'].value_counts()

In [ ]:
Demographic['job_title'].unique()

In [ ]:
Demographic['job_industry_category'].value_counts()

In [ ]:
Demographic['wealth_segment'].value_counts()

In [ ]:
Demographic['deceased_indicator'].value_counts()

In [ ]:
Demographic['owns_car'].value_counts()

### 3. Customer List

In [ ]:
CustomerList.shape

In [ ]:
CustomerList.head()

In [54]:
CustomerList.drop(['Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20'],axis=1,inplace=True)

In [ ]:
#Checking for duplicates
sum(CustomerList.duplicated())

### There are no duplicates.

In [ ]:
#Checking the number of missing values in each column
for name in list(CustomerList):
    print(sum(CustomerList[name].isnull()))

In [ ]:
list(CustomerList)

In [ ]:
CustomerList.dtypes

In [ ]:
CustomerList.sample()

In [ ]:
CustomerList.describe()

In [ ]:
CustomerList.query('tenure == 22')

In [109]:
CustomerList['gender'].value_counts()

Female    428
Male      390
U          17
Name: gender, dtype: int64

In [ ]:
CustomerList['wealth_segment'].value_counts()

In [ ]:
CustomerList['deceased_indicator'].value_counts()

In [ ]:
CustomerList['owns_car'].value_counts()

In [ ]:
CustomerList['state'].value_counts()

In [ ]:
CustomerList['country'].value_counts()

### 4. Address

In [ ]:
Address.shape

In [ ]:
Address.head(2)

In [ ]:
#Checking for duplicates
sum(Address.duplicated())

### There are no duplicates.

In [ ]:
#Checking for missing values
for name in list(Address):
    print(sum(Address[name].isnull()))

### There are no missing values in this datasheet.

In [ ]:
Address['state'].value_counts()

In [ ]:
Address['country'].value_counts()

In [ ]:
Address['property_valuation'].value_counts()

## Issues:
### Completeness:
- Missing values in online_order,brand,product_line,product_class,product_size,standard_cost and product_first_sold_date.
- Missing Values in Last_name,DOB,job_title,job_industry_category and tenure columns of CustomerDemographics.
- Missing Values in last_name,DOB,job_title,job_industry_category colunns of CustomerList.


### Validity:
 - The online_order column of the Transactions column should be of data type int.
 - The default column in Customer Demographic consists of gibberish data.
 - The deceased_indicator and owns_car in CustomerDemographics should be of datatype categorical to increase the scope of our analysis.
 - The owns_car in CustomerList should be of datatype categorical to increase the scope of our analysis.
 - In the product_first_sold_date column of Transactions, the data entered seems gibberish and is not in the datatime format.
 

### Accuracy:
 - Several entries in Customer Demographics sheet are inaccurate as their DOB and tenure entries do not make sense. 
   For example: Pernell Duffet was born in the year 1995 and her tenure is 22 years which does not make sense as her age in the    year 2020 should be 25 years.Other customers with similar issue are: Horace Gilpillan, Clarita Jaqueminet, Sybil Scramage
   
### Consistency:
 - In the gender column of the CustomerDemographic sheet, the Male and Female genders are also represented as M and F respectively. Moreover, there is an entry with gender Femal.
 - In the state column of the CustomerAddress sheet, New South Wales and NSW mean the same thing. Similar for Victoria and VIC.

# Data Cleaning

### Transactions

In [55]:
Transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [56]:
sum(Transactions['online_order'].isnull())

360

In [63]:
Transactions.shape

(19445, 13)

In [58]:
#Dropping rows with missing values in online order column
Transactions = Transactions[Transactions['online_order'].notna()]

In [59]:
Transactions = Transactions[Transactions['brand'].notna()]

In [60]:
Transactions = Transactions[Transactions['product_line'].notna()]

In [61]:
Transactions = Transactions[Transactions['product_class'].notna()]

In [62]:
Transactions = Transactions[Transactions['product_size'].notna()]

In [64]:
for name in list(Transactions):
    print(sum(Transactions[name].isnull()))

0
0
0
0
0
0
0
0
0
0
0
0
0

In [65]:
Transactions=Transactions.astype({"online_order": int})

In [66]:
Transactions.dtypes

transaction_id                      int64
product_id                          int64
customer_id                         int64
transaction_date           datetime64[ns]
online_order                        int32
order_status                       object
brand                              object
product_line                       object
product_class                      object
product_size                       object
list_price                        float64
standard_cost                     float64
product_first_sold_date           float64
dtype: object

### Customer Demographics

In [74]:
Demographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,No,7.0
5,6,Curr,Duckhouse,Male,35,1966-09-16,NaN,Retail,High Net Worth,N,Yes,13.0

In [89]:
for name in list(Demographic):
    print(sum(Demographic[name].isnull()))

0
0
96
0
0
0
392
0
0
0
0
0

In [87]:
#Dropping the rows with missing value
Demographic = Demographic[Demographic['gender'].notna()]

In [88]:
Demographic.shape

(3256, 12)

In [76]:
#Dropping the default column
Demographic.drop(['default'],axis=1,inplace=True)

In [73]:
Demographic.sample()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
3835,3836,Jolee,Stearndale,Female,16,1995-01-25,Electrical Engineer,Manufacturing,Affluent Customer,N,Yes,7.0

In [77]:
Demographic['deceased_indicator'].replace(['N','Y'],['False','True'],inplace=True)

In [78]:
Demographic['deceased_indicator'].unique()

array(['False', 'True'], dtype=object)

In [79]:
Demographic.dtypes

customer_id                                     int64
first_name                                     object
last_name                                      object
gender                                         object
past_3_years_bike_related_purchases             int64
DOB                                    datetime64[ns]
job_title                                      object
job_industry_category                          object
wealth_segment                                 object
deceased_indicator                             object
owns_car                                       object
tenure                                        float64
dtype: object

In [80]:
#Converting deceased_indicator to categorical
Demographic['deceased_indicator'] = Demographic['deceased_indicator'].astype('category')

In [81]:
Demographic.dtypes

customer_id                                     int64
first_name                                     object
last_name                                      object
gender                                         object
past_3_years_bike_related_purchases             int64
DOB                                    datetime64[ns]
job_title                                      object
job_industry_category                          object
wealth_segment                                 object
deceased_indicator                           category
owns_car                                       object
tenure                                        float64
dtype: object

In [82]:
Demographic['owns_car'] = Demographic['owns_car'].astype('category')

In [86]:
Demographic['gender'].unique()

array(['Female', 'Male', nan], dtype=object)

In [84]:
Demographic['gender'].replace(['F','Femal'],'Female',inplace=True)

In [85]:
#Dropping the rows with U as gender
Demographic['gender'].replace(['U'],np.nan,inplace=True)

In [107]:
Names = ['Gilpillan','Duffett','Jaqueminet','Scramage']
Demographic = Demographic[~Demographic['last_name'].isin(Names)]

In [108]:
Demographic.query('first_name == "Pernell"')

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
370,371,Pernell,Favelle,Male,7,1954-07-06,Systems Administrator III,Financial Services,Mass Customer,False,No,7.0
2314,2315,Pernell,MacCheyne,Male,25,1994-03-01,Community Outreach Specialist,Financial Services,Affluent Customer,False,No,8.0

### Customer List

In [95]:
for name in list(CustomerList):
    print(sum(CustomerList[name].isnull()))

0
23
0
0
17
84
0
0
0
0
0
0
0
0
0
0
0
0

In [91]:
CustomerList.head(3)

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.71875
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.71875
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.71875

In [92]:
CustomerList = CustomerList[CustomerList['job_industry_category'].notna()]

In [93]:
CustomerList.shape

(835, 18)

In [96]:
CustomerList['owns_car'] = CustomerList['owns_car'].astype('category')

In [97]:
CustomerList['deceased_indicator'] = CustomerList['deceased_indicator'].astype('category')

In [98]:
CustomerList.dtypes

first_name                                     object
last_name                                      object
gender                                         object
past_3_years_bike_related_purchases             int64
DOB                                    datetime64[ns]
job_title                                      object
job_industry_category                          object
wealth_segment                                 object
deceased_indicator                           category
owns_car                                     category
tenure                                          int64
address                                        object
postcode                                        int64
state                                          object
country                                        object
property_valuation                              int64
Rank                                            int64
Value                                         float64
dtype: object

In [110]:
#Dropping rows with unkown gender
Gender = ['Male','Female']
CustomerList=CustomerList[CustomerList['gender'].isin(Gender)]

In [113]:
CustomerList.gender.value_counts()

Female    428
Male      390
Name: gender, dtype: int64

## Customer Address

In [114]:
Address.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [118]:
Address['state']=Address.state.replace('New South Wales','NSW')

In [119]:
Address.state.value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

In [122]:
Address.dtypes

customer_id              int64
address                 object
postcode                 int64
state                 category
country                 object
property_valuation       int64
dtype: object

In [121]:
Address['state'] = Address['state'].astype('category')

## Exporting the updated df as excel files

In [128]:
with pd.ExcelWriter('KPMG_Data.xlsx') as writer:
    Transactions.to_excel(writer,sheet_name='Transactions')
    Demographic.to_excel(writer,sheet_name='CustomerDemographic')
    CustomerList.to_excel(writer,sheet_name='NewCustomerList')
    Address.to_excel(writer,sheet_name='CustomerAddress')